<div class="col-12 d-flex justify-content-center align-items-center">
    <div class="w-50">
        <div class="bg-white px-5 pt-5 pb-5 shadow rounded">
            <div class="row">
                <div class="col-3 my-auto">
                    <a class="text-black" href="/gerente/{{gerenteID}}"><i class="fa-solid fa-arrow-left"></i></a>
                </div>
                <div class="col-9">
                    <h1 class="px-5">New Operario</h1>
                </div>



            </div>
            <form action="/new-operario/{{gerenteID}}" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control my-3" name="Nombre" id="floatingInput" placeholder="Nombre">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control my-3" name="Cedula" id="floatingInput" placeholder="Cedula">
                    <label for="floatingInput">Cedula</label>
                </div>

                <div class="d-flex justify-content-between px-5">
                    <button class="btn btn-primary w-100 mx-3 px-4">Registrar</button>
                </div>
                {{#if err}}
                <div>
                    <p class="text-danger text-center">Ingrese todos los valores</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>

</div>